<header>
    <div class="header-top">
        <img src="/images/logo-mercado-liebre.svg" width="100%" alt="Logo de MercadoLiebre" class="logomercado">

        <input type="text" placeholder="buscar productos,marcas" class="buscador">
        <i class="fas fa-search" icon></i>
        <p class="mano">
            <i class="fas fa-hand-holding-usd"></i>Sistema de administracion de producto
        </p>
    </div>




    <nav class="header-nav">
        <ul class="primerul">
            <li><a href="#">productos</a></li>
            <li><a href="#">nuevo</a></li>
            <li><a href="#">ayuda</a></li>
           
        </ul>

        <ul class="segundoul">
            <li><a href="/register">Creá tu cuenta
                    <i class="fas fa-id-card"></i>
                </a></li>
            <li><a href="/login">Ingresá
                    <i class="fas fa-sign-in-alt"></i>

                </a></li>
         
        </ul>
    </nav>

    <a href="#" class="menu-hamburger"><i class="fa fa-bars burger "></i></a>


    </div>
</header>