<!DOCTYPE html>
<html>
    <%- include('partials/head') %>


<body>
    <%- include('partials/header') %>
    
    <form action="resultado.html" method="post" class="create_login">

        <div class="nombre">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" minlength="4" class="control">
        </div>
        <div class="clave">
            <input type="password" name="clave" id="clave" placeholder="Elegi tu contraseña" minlength="4" class="control">
        </div>
        <div class="enviar">
            <button type="submit" class="boton_input">enviar</button>
        </div>

    </form>
    <%- include('partials/footer') %>
</body>